[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-memcached = "==1.59"
django-filter = "==2.4.0"
sqlparse = "==0.4.1"
six = "==1.15.0"
asgiref = "==3.3.1"
django-memcached = "*"
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
pytz = "==2020.5"
Django = "==3.1.5"
Markdown = "==3.3.3"
PyJWT = "==2.0.1"
django-session-timeout = "*"

[dev-packages]

[requires]
python_version = "3.8"
